{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de sesión</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>

    <div class="container-fluid d-flex flex-row justify-content-center align-items-center ">
        <h1 class="display-4">Registro de inicio de sesión para trabajadores</h1>
    </div>

    <div class="container">
            {% csrf_token %}
            <form>
                <div class="form-group">
                  <label for="user">Usuario</label>
                  <input type="text" class="form-control" id="user" placeholder="Ingresa el nombre de tu usuario">
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>
            </form>
            <button id="botonIniciarSesion" class="btn btn-dark">Ingresar</button>
    </div>


    <script>
        window.onload = function(){
            let botonIniciarSesion = document.getElementById("botonIniciarSesion");
            botonIniciarSesion.addEventListener("click", login);
        }


    </script>
</body>
</html>